<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Teachers</title>
</head>
<body>
<h1>Our Teachers</h1>
<table>
    <tr>
        <th>id</th>
        <th>First name</th>
        <th>Last name</th>
    </tr>
    <tr th:each="teacher : ${teachers}">
        <td th:text="${teacher.id}">0</td>
        <td th:text="${teacher.firstName}">Akyl</td>
        <td th:text="${teacher.lastName}">Kerimbekov</td>
    </tr>
</table>
</body>
</html>